<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>lectureDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">{{lecture.name}}</ion-label>
      <ion-label position="floating">{{lecture.lecturer}}</ion-label>
      <ion-label position="floating">{{lecture.comment}}</ion-label>
      <ion-label position="floating">Personal Comment</ion-label>
      <ion-input [(ngModel)]="lecture.personalComment" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="save()">Save</ion-button>
</ion-content>
